// @import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
$fonts: 'Roboto Condensed', serif;

$break-medium: 512px;
$break-large: 1024px;
$break-xlarge: 2048px;
// $mobile: media screen and (max-width: $break-medium);
// $fonts: 'Source Serif Pro', serif;

$trans-time: 0.4s;
$margin-desktop: 1rem;
$margin-mobile: 0.5rem;
$std-bor-wid: 2px;
$std-line-height: 1.5;

$bac-col: white;
$pri-col: black;
$acc-col: lemonchiffon;
// $sec-col: grey;


%navbar-item-transition {
    transition: $trans-time;
    &:hover {
        background-color: $bac-col;
    }
    a {
        transition: $trans-time;
        &:hover {
            padding: 0 3rem;
            color: $pri-col
        }
    }
}
// %navbar-item-transition-reset {
//     transition: none;
//     &:hover {
//         background-color: $pri-col;
//     }
//     a {
//         transition: 0;
//         &:hover {
//             padding: 0;
//             color: $bac-col;
//         }
//     }
// }
%flex-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
%std-border {
    border: solid $std-bor-wid $pri-col;
}

a {
    color: steelblue;
    // text-decoration: none;
    color: $pri-col;
    font-family: $fonts;
    &:visited {
        color: $pri-col;
    }
}

html {
    font-size: 16px;
    @media (max-width: $break-medium) {
        font-size: 20px;
    }
}

body {
    background-color: $bac-col;
    color: $pri-col;
    font-family: $fonts;
    // line-height: 1.4;
    max-width: $break-xlarge;
    // border: 1px solid red;
    // padding: 1rem;
    margin: 0 auto;
    @media screen and (max-width: $break-xlarge) {
        max-width: 1280px;
    }
    @media screen and (max-width: $break-large) {
        // border: 1px solid blue;
        width: 100%;
    }
    // @media (max-width: $break-medium) {
    //     // font-size: 20px;
    //     // border: 1px solid green;
    //     width: 100%;
    // }
}

.navbar {
    @extend %flex-between;
    background-color: $pri-col;
    // margin: 0rem $margin-desktop
    margin: $margin-desktop;
    a {
        text-decoration: none;
        color: $bac-col;
    }
    &__brand {
        // @extend %black-border;
        display: inline-block;
        align-self: center;
        font-size: 2rem;
        margin: 0rem 1rem;
        padding: 0;
        @extend %navbar-item-transition;
        &:hover {
            background-color: $acc-col;
        }

    }
    &__mbtn {
        width: 0; 
        height: 0; 
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid $bac-col;
        align-self: center;
        margin: 0.5rem;
        cursor: pointer;
        transition: $trans-time;
        user-select: none;

        display: none;

        &--expanded {
            transform: rotate(180deg);
            // border-top: none;
            // border-bottom: 20px solid #000;
        }
    }
    &__links {
        @extend %flex-between;
        // @extend %black-border;
        align-items: center;
        margin: $margin-desktop;
        padding: 0;
        &__link {
            font-size: 1.2rem;
            margin: 1rem;
            list-style: none;
            @extend %navbar-item-transition;
        }
    }
    // @media screen and (max-width: $break-large) {

    // }    
    @media screen and (max-width: $break-medium) {
        flex-wrap: wrap;
        justify-content: space-between;
        margin: $margin-mobile;
        padding: 1rem 0.5rem;

        &__brand {
            // margin: $margin-mobile;
            font-size: 1.5rem;
            
            // @extend %navbar-item-transition-reset;
            transition: none;
            &:hover {
                background-color: $pri-col;
            }
            a {
                transition: 0;
                &:hover {
                    padding: 0;
                    color: $bac-col;
                }
            }
        }
        &__mbtn {
            // margin: $margin-mobile;
            display: block;
        }
        &__links {
            flex-direction: column;
            justify-content: space-evenly;
            align-self: baseline;
            flex-grow: 1;
            // margin: $margin-mobile;
            
            display: none;
            // position: absolute;
            // opacity: 0;
            // transition: opacity $trans-time ease 0.5s;
            // overflow: hidden;
            // visibility: hidden;
            // transform: translate(0,-1000px);
            // translate: scale(2, 2);

            &--expanded {
                display: block;
                // position: static;
                // opacity: 1;
                // transform: translate(0, 0px);
            }
            &__link {
            //     // background-color: gray;
                text-align: center;
            //     // width: 300px;
            //     // align-self: center;
            //     // margin-bottom: 2rem;
                padding: 0.5rem;
                border-bottom: 1px solid $bac-col;

                // @extend %navbar-item-transition-reset;
                transition: none;
                &:hover {
                    background-color: $pri-col;
                }
                a {
                    transition: 0;
                    &:hover {
                        padding: 0;
                        color: $bac-col;
                    }
                }
            //     // cursor: pointer;
            //     Link {
            //         width: 100%
            //     }
            }
        }
    }
}

.footer {
    display: flex;
    justify-content: space-around;
    text-align: center;
    line-height: 2;
    color: $bac-col;
    margin: 1rem auto;
    a {
        color: $bac-col;
    }
    p {
        margin: auto;
        padding: 1rem 2rem;
        background-color: $pri-col;
    }
    
    // position: absolute;
    // bottom: 0;
    // left: 0;
    // right: 0;
    // height: 100px;
    // background-color: teal;
}

.game-card {
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // justify-content: space-between;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    // grid-gap: 0.5rem;

    &__card {
        margin: $margin-desktop;
        padding: $margin-desktop;
        @extend %std-border;
        // flex-basis: 220px;
        // flex: 1 1 220px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        transition: $trans-time;
        &:hover {
            border-width: 5px;
            box-shadow: 0.5rem 0.5rem;
            transform: translate(0, -1rem);
        }

        &__cover {
            margin: 0 auto;
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
        &__title {
            font-size: 1.3rem;
            font-weight: bold;
            margin: 1rem 0 0 0;
        }
        &__subtitle {
            margin: 0.5rem 0 1rem 0;
        }
        &__footer {
            display: flex;
            justify-content: space-between;

            &__links {
                display: flex;
                justify-content: flex-between;
                align-items: center;

                &__link {
                    margin: 0.2rem;

                    &--delisted {
                        text-decoration: line-through;
                    }
                }
            }

            &__cta {
                margin: 0;
                // margin: 0;
                // border: none;
                // display: block;
                
                // padding: 0.5rem 1rem;
                // font-size: 1rem;
                // cursor: pointer;
                // transition: 0.5s;
                a {
                    text-decoration: none;
                    color: $pri-col;
                    // display: inline-block;
                    background-color: $acc-col;
                    padding: 0.5rem 1rem;
                    transition: $trans-time;
                    &:hover {
                        // background-color: lightsteelblue;
                        color: $bac-col;
                        background-color: $pri-col;
                        // padding: 0.5rem 1.5rem;
                        // margin: 2rem 0;
                    }
                }

            }
        }
    }
    @media screen and (max-width: $break-xlarge) {
        grid-template-columns: repeat(4, 1fr);
    }
    @media screen and (max-width: $break-large) {
        grid-template-columns: repeat(2, 1fr);
        &__card {
            margin: 1rem $margin-mobile;
            padding: $margin-mobile;
        }
    }
    @media screen and (max-width: $break-medium) {
        margin: $margin-mobile;
        grid-template-columns: repeat(1, 1fr);
        // grid-gap: 1.5rem;
        // No fanciful hover transitions on mobile
        &__card {
            margin: 1.5rem 0;
            transition: none;
            padding: 1rem;
            &:hover {
                border-width: $std-bor-wid;
                box-shadow: 0 0;
                transform: none;
            }
        }
    }
    // &::after {
    //     content: "";
    //     flex: auto;
    //     // &__card {
    //     //     flex: 1 1 1;
    //     //     flex-basis: 220px;
    //     // }
    //   }
}

.game-page {
    // display: flex;
    // align-items: flex-start;
    max-width: 1024px;
    margin: 1rem auto;
    // flex-flow: column wrap;
    // align-items: flex-start;

    display: grid;
    justify-content: stretch;
    align-items: flex-start;
    grid-template-columns: 1fr 2fr;
    // grid-template-rows: 1fr 1fr;
    // grid-template-areas:
    //     "game-page__panel--game game-page__panel--desc"
    //     "game-page__panel--dev game-page__panel--desc";

    img {
        width: 100%
    }
    &__panel {
        @extend %std-border;
        margin: 2rem;
        padding: 1rem;
        &__title {
            font-size: 1.5rem;
            font-weight: bold;
            margin: 0 0 1.5rem 0;
        }
        &__field {
            font-weight: bold;
            margin: 0;
        }
        &__value {
            text-align: right;
            margin: 0 0 0.5rem 0;
        }
        // &--game {
        //     // grid-column: 1/2;
        // }
        // &--dev {

        // }
        &--desc {
            grid-column: 2/3;
            grid-row: 1/3;
            hyphens: auto;
            line-height: 1.5;
        } 
        // &--large {
        //     flex: 3 1;
        // }
        // &--small {
        //     flex: 1 1;
        // }
    }
    @media screen and (max-width: $break-large) {
        &__panel {
            margin: $margin-mobile;
        }
    }    
    @media screen and (max-width: $break-medium) {
        grid-template-columns: 1fr;
        // grid-template-row: auto auto auto;
        &__panel {
            // &--game {
            //     grid-row:1/2;
            // }
            &--desc {
                grid-column: 1/2;
                grid-row: 2/3;
            } 
            // &--dev {
            //     grid-row:3/4;
            // }
        }
    }    
    // @media (max-width: $break-large) {
    //     flex-direction: column;
    //     flex-wrap: wrap;
    //     &__panel {
    //         &--large {
    //             order: -1;
    //             flex-basis: 84%
    //         }
    //         &--small {
    //             flex-basis: 42%;
    //             flex-grow: 2;
    //         }
    //     }
    // }    
    // @media (max-width: $break-medium) {
    //     flex-direction: column;
    //     flex-wrap: wrap;
    //     align-items: stretch;
    //     &__panel {
    //         &--large {
    //             order: 0;
    //         }
    //     }
    // }
}
