@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400;700&display=swap');
$break-medium: 512px;
$break-large: 1024px;
$break-xlarge: 2048px;
$mobile: media screen and (max-width: $break-medium);

html {
    font-size: 16px;
    @media (max-width: $break-medium) {
        font-size: 20px;
    }
}

body {
    font-family: 'Source Serif Pro', serif;
    line-height: 1.4;
    max-width: $break-xlarge;
    // border: 1px solid red;
    // padding: 1rem;
    margin: 0 auto;
    @media (max-width: $break-xlarge) {
        max-width: $break-large;
    }
    @media (max-width: $break-large) {
        // border: 1px solid blue;
        width: 100%;
    }
    @media (max-width: $break-medium) {
        // font-size: 20px;
        // border: 1px solid green;
        width: 100%;
    }
}

.footer {
    text-align: center;
    // position: absolute;
    // bottom: 0;
    // left: 0;
    // right: 0;
    // height: 100px;
    // background-color: teal;
}

.game-page {
    // display: flex;
    // align-items: flex-start;
    max-width: 1024px;
    margin: 1rem auto;
    // flex-flow: column wrap;
    // align-items: flex-start;

    display: grid;
    justify-content: stretch;
    align-items: flex-start;
    grid-template-columns: 1fr 2fr;
    // grid-template-rows: 1fr 1fr;
    // grid-template-areas:
    //     "game-page__panel--game game-page__panel--desc"
    //     "game-page__panel--dev game-page__panel--desc";

    img {
        width: 100%
    }
    &__panel {
        border: 1px solid black;
        margin: 2rem;
        padding: 1rem;
        &__field {
            font-weight: bold;
        }
        &__value {
            text-align: right;
        }
        // &--game {
        //     // grid-column: 1/2;
        // }
        // &--dev {

        // }
        &--desc {
            grid-column: 2/3;
            grid-row: 1/3;
        } 
        // &--large {
        //     flex: 3 1;
        // }
        // &--small {
        //     flex: 1 1;
        // }
    }
    @media (max-width: $break-large) {
        &__panel {
            margin: 0.5rem;
        }
    }    
    @media (max-width: $break-medium) {
        grid-template-columns: 1fr;
        // grid-template-row: auto auto auto;
        &__panel {
            // &--game {
            //     grid-row:1/2;
            // }
            &--desc {
                grid-column: 1/2;
                grid-row: 2/3;
            } 
            // &--dev {
            //     grid-row:3/4;
            // }
        }
    }    
    // @media (max-width: $break-large) {
    //     flex-direction: column;
    //     flex-wrap: wrap;
    //     &__panel {
    //         &--large {
    //             order: -1;
    //             flex-basis: 84%
    //         }
    //         &--small {
    //             flex-basis: 42%;
    //             flex-grow: 2;
    //         }
    //     }
    // }    
    // @media (max-width: $break-medium) {
    //     flex-direction: column;
    //     flex-wrap: wrap;
    //     align-items: stretch;
    //     &__panel {
    //         &--large {
    //             order: 0;
    //         }
    //     }
    // }
}

.game-card {
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // justify-content: space-between;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    // grid-gap: 0.5rem;

    &__card {
        margin: 0.5rem;
        padding: 0.5rem;
        border: 1px solid black;
        // flex-basis: 220px;
        // flex: 1 1 220px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__cover {
            margin: 0 auto;
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
        &__title {
            font-size: 1.3rem;
            font-weight: bold;
            margin: 1rem 0 0 0;
        }
        &__subtitle {
            margin: 0.5rem 0 1rem 0;
        }
        &__footer {
            display: flex;
            justify-content: space-between;

            &__links {
                display: flex;
                justify-content: flex-evenly;

                &__link {
                    margin: 0.5rem;

                    &--delisted {
                        color: teal;
                    }
                }
            }

            &__cta {

            }
        }
    }
    @media (max-width: $break-xlarge) {
        grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width: $break-large) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $break-medium) {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1.5rem;
    }
    // &::after {
    //     content: "";
    //     flex: auto;
    //     // &__card {
    //     //     flex: 1 1 1;
    //     //     flex-basis: 220px;
    //     // }
    //   }
}