@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400;700&display=swap');
$break-small: 450px;
$break-large: 1024px;
$mobile: media screen and (max-width: $break-small);

body {
    font-family: 'Source Serif Pro', serif;
    max-width: $break-large;
    border: 1px solid red;
    // padding: 1rem;
    margin: 0 auto;
    @media (max-width: $break-large) {
        border: 1px solid blue;
        width: 100%;
    }
    @media (max-width: $break-small) {
        border: 1px solid green;
        width: 100%;
    }
}

.footer {
    text-align: center;
    // position: absolute;
    // bottom: 0;
    // left: 0;
    // right: 0;
    // height: 100px;
    // background-color: teal;
}

.page-game {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    img {
        width: 100%
    }
    .panel {
        border: 1px solid black;
        margin: 0.5rem 0.5rem;
        padding: 0.5rem;
        &__field {
            font-weight: bold;
        }
        &__content {
            text-align: right;
        }
        &--middle {
            flex: 3;
        }
        &--side {
            flex: 1;
        }
    }
    @media (max-width: $break-large) {
        flex-direction: row;
        flex-wrap: wrap;
        .panel {
            &--middle {
                order: -1;
                flex-basis: 84%
            }
            &--side {
                flex-basis: 42%;
                flex-grow: 2;
            }
        }
    }    
    @media (max-width: $break-small) {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: stretch;
        .panel {
            &--middle {
                order: 0;
            }
        }
    }
}